<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
       <!--Add Connection-->
    </connectionStrings>
	<appSettings>
		<add key="ApiUrl" value="https://localhost:7267/api/"/>
	</appSettings>
		
    <startup> 
        <!--Now using .Net 6-->
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!--No current assemblies-->
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>