<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
       <!--Add Connection-->
		<add name="Default" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FictionDb;Integrated Security=True;" providerName="System.Data.SqlClient.SqlConnection"/>
    </connectionStrings>
    <startup> 
        <!--Now using .Net 6-->
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!--No current assemblies-->
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>